h1 {
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: calibri;
}

table {
    border: solid;
    margin: auto;
}

th {
    color:white;
    background-color: black;
    border: solid black;
    font-family: calibri;
    font-size: 20px;
}

td {
    color: blue;
    font-family: calibri;
    font-size: 16px;
    border: solid black;
    text-align: center;
    font-weight: bold;
}

.BD {
    background-color: #FFD700;
}

.FOL {
    background-color: #FFCC99;
}

.MARQ {
    background-color: #66FFFF;
}

.PROG {
    background-color: #CC3333;
}

.SIS {
    background-color: #00FF00;
}

.EIE {
    background-color: #FA8072;
}

.TUT {
    background-color: #D3D3D3;
}