<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Layouts</title>
    <link rel="stylesheet" type="text/css" href="Andal_Aaron.css">
</head>
<body>
    <div class="T1">
        <div class="T1C1"></div>
        <div class="T1C2"></div>
        <div class="T1C3"></div>
        <div class="T1C4"></div>
        <div class="T1C5"></div>
        <div class="T1C6"></div>
        <div class="T1C7-8">
            <div class="T1C7"></div>
            <div class="T1C8"></div>
        </div>
        <div class="T1C9"></div>
        <div class="T1C10"></div>
        <div class="T1C11"></div>
        <div class="T1C12"></div>
        <div class="P1">Taula 1</div>
    </div>
    <div class="T2">
        <div class="T2C1"></div>
        <div class="T2C2-3-4">
            <div class="T2C2"></div>
            <div class="T2C3"></div>
            <div class="T2C4"></div>
        </div>
        <div class="T2C5"></div>
        <div class="T2C6"></div>
        <div class="T2C7-8">
            <div class="T2C7"></div>
            <div class="T2C8"></div>
        </div>
        <div class="T2C9"></div>
        <div class="final">
            <div class="T2C10"></div>
        </div>
        <div class="P2">Taula 2</div>
    </div>
</body>
</html>
